{
  "extends": "airbnb",
  "rules": {
    "quote-props": [1, "consistent-as-needed"],
    "radix": 0,
    "space-infix-ops": 0,
    "no-unused-vars": [1, {"vars": "local", "args": "none"}],
    "default-case": 0,
    "no-else-return": 0,
    "quotes": 0,
    "no-undef": 0,
    "react/prefer-stateless-function": 0,
    "react/no-unused-prop-types": 0,
    "no-useless-constructor": 0,
    "import/extensions": 0,
    "react/require-default-props": 0
  }
}