<!DOCTYPE html>
<head>
  <title>{{name}}</title>
  <meta name=viewport                    content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
  <meta name="description"               content="Website and app development company based in Coeur d'Alene, Idaho."/>
  <meta property="og:url"                content="https://www.thatslofty.com" />
  <meta property="og:type"               content="website" />
  <meta property="og:title"              content="That's Lofty" />
  <meta property="og:description"        content="Website and app development company based in Coeur d'Alene, Idaho." />
  <meta property="og:image"              content="https://www.thatslofty.com/assets/Logo.png" />
  <!-- <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Karla|Lato'> -->
  <link rel="icon" type="image/png"      href="https://www.thatslofty.com/assets/favicon.ico">
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "https://www.thatslofty.com",
      "logo": "https://www.thatslofty.com/assets/logo.png"
    }
  </script>
</head>
  <body>
    <div id="root"></div>
  </body>
</html>
