<!DOCTYPE html>
<head>
  <title>{{name}}</title>
  <meta name=viewport                    content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
  <meta name="description"               content="How much does culture influence creative thinking?"/>
  <meta property="og:url"                content="http://www.nytimes.com/2015/02/19/arts/international/when-great-minds-dont-think-alike.html" />
  <meta property="og:type"               content="article" />
  <meta property="og:title"              content="When Great Minds Don’t Think Alike" />
  <meta property="og:description"        content="How much does culture influence creative thinking?" />
  <meta property="og:image"              content="http://static01.nyt.com/images/2015/02/19/arts/international/19iht-btnumbers19A/19iht-btnumbers19A-facebookJumbo-v2.jpg" />
  <!-- <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Karla|Lato'> -->
  <link rel="icon" type="image/png"      href="https://www.google.com/favicon.ico">
</head>
  <body>
    <div id="root"></div>
  </body>
</html>
